body {
    background-color: #EBF5EE !important;
  }
  
  .nom {
    display: flex;
    transform: translate(40px, 0px);
    font-size: 8vw;
    font-family: Verdana,sans-serif;
    text-transform: uppercase;
    margin: 80px;
    float: left;
    transition: transform .7s ease-in-out;
  }
  
  @media (max-width: 375px) {
    .nom {
      transform: translate(-30px, 0px);
    }
  }
  
  .nom:hover {
    color: #00CEFF;
    transition: 0.7s;
    transform: rotate(-20deg);
  }
  
  .ancre {
    display: flex;
    transform: translate(280px, 145px);
    padding: 18px;
  }
  
  @media (max-width: 375px) {
    .ancre {
      transform: translate(-50px, 30px);
    }
  }
  
  @media (min-width: 375px) {
    .ancre {
      transform: translate(190px, 100px);
    }
  }
  
  .ancre:hover {
    color: lightgreen;
    font-size: 2.3vw;
    transition: 0.3s;
  }
  
  .proposA {
    font-size: 2vw;
    color: #00CEFF;
    font-family: Verdana,sans-serif;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .projetsA {
    font-size: 2vw;
    color: #009FC5;
    font-family: Verdana,sans-serif;
    text-transform: uppercase;
  }
  
  .contactA {
    font-size: 2vw;
    color: #006A83;
    font-family: Verdana,sans-serif;
    text-transform: uppercase;
  }
  
  /*À propos*/
  .propos {
    font-size: 3vw;
    font-family: Verdana,sans-serif;
    text-transform: uppercase;
    display: flex;
    transform: translate(220px, 600px);
    white-space: nowrap;
  }
  
  @media (max-width: 375px) {
    .propos {
      transform: translate(-220px, 90px);
      font-size: 25px;
    }
  }
  
  .moi {
    width: 25%;
    transform: translate(-700px, 510px);
  }
  
  @media (max-width: 375px) {
    .moi {
      width: 50%;
      transform: translate(90px, 90px);
    }
  }
  
  .propos-para {
    width: 560px;
    font-size: 2vw;
    font-family: Corbel;
    display: flex;
    transform: translate(1220px, -480px);
  }
  
  @media (max-width: 375px) {
    .propos-para {
      width: 260px;
      font-size: 18px;
      transform: translate(50px, 140px);
    }
  }
  
  /*Mes projets*/
  .projets {
    font-size: 3vw;
    font-family: Verdana,sans-serif;
    text-transform: uppercase;
    display: flex;
    transform: translate(750px, 750px);
  }
  
  @media (max-width: 375px) {
    .projets {
      font-size: 25px;
      transform: translate(95px, 160px);
    }
  }
  
  @media (min-width: 375px) {
    .projets {
      transform: translate(500px, 700px);
    }
  }
  
  .projet-planches {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: flex;
    transform: translate(300px, 800px);
  }
  
  .projet-planches:hover, .projet-cymbale:hover, .projet-art:hover, .projet-victoria:hover {
    opacity: 50%;
    transition: 0.4s;
  }
  
  @media (max-width: 375px) {
    .projet-planches {
      width: 300px;
      transform: translate(25px, 200px);
    }
  }
  
  .desc-projet1 {
    width: 490px;
    font-size: 2vw;
    font-family: Corbel;
    display: flex;
    transform: translate(300px, 800px);
  }
  
  @media (max-width: 375px) {
    .desc-projet1 {
      width: 290px;
      font-size: 18px;
      transform: translate(30px, 210px);
    }
  }
  
  .planche01, .planche02, .planche03, .planche04, .planche05, .planche06, .planche07, .planche08, .planche09, .planche10, .planche11, .planche12, .cymbale01, .cymbale02, .cymbale03 {
    width: 467px;
    padding: 18px;
  }
  
  @media (max-width: 375px) {
    .planche01, .planche02, .planche03, .planche04, .planche05, .planche06, .planche07, .planche08, .planche09, .planche10, .planche11, .planche12, .cymbale01, .cymbale02, .cymbale03 {
      width: 290px;
    }
  }
  
  .planche01:hover, .planche02:hover, .planche03:hover, .planche04:hover, .planche05:hover, .planche06:hover, .planche07:hover, .planche08:hover, .planche09:hover, .planche10:hover, .planche11:hover, .planche12:hover, .cymbale01:hover, .cymbale02:hover, .cymbale03:hover {
    opacity: 60%;
    width: 480px;
    transition: 0.4s;
  }
  
  .planches_btn, .cymbale_btn, .art_btn, .victoria_btn {
    outline: none;
    background-color: transparent;
    cursor: default;
    border: none;
  }
  
  .planches_btn:hover, .cymbale_btn:hover, .art_btn:hover, .victoria_btn:hover {
    cursor: default;
  }
  
  .modal-header {
    background: #00CEFF;
  }
  
  .modal-footer {
    background: #00CEFF;
  }
  
  .projet-cymbale {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: flex;
    transform: translate(1100px, 800px);
  }
  
  @media (max-width: 375px) {
    .projet-cymbale {
      width: 300px;
      transform: translate(25px, 280px);
    }
  }
  
  .desc-projet2 {
    width: 490px;
    font-size: 2vw;
    font-family: Corbel;
    display: flex;
    transform: translate(1100px, 800px);
  }
  
  @media (max-width: 375px) {
    .desc-projet2 {
      width: 290px;
      font-size: 18px;
      transform: translate(30px, 290px);
    }
  }
  
  .projet-art {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: flex;
    transform: translate(300px, 800px);
  }
  
  @media (max-width: 375px) {
    .projet-art {
      width: 300px;
      transform: translate(25px, 360px);
    }
  }
  
  @media (max-width: 375px) {
    iframe {
      width: 300px;
    }
  }
  
  .desc-projet3 {
    width: 490px;
    font-size: 2vw;
    font-family: Corbel;
    display: flex;
    transform: translate(300px, 800px);
  }
  
  @media (max-width: 375px) {
    .desc-projet3 {
      width: 290px;
      font-size: 18px;
      transform: translate(30px, 370px);
    }
  }
  
  .video {
    width: 100%;
  }
  
  .projet-victoria {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: flex;
    transform: translate(1100px, 800px);
  }
  
  @media (max-width: 375px) {
    .projet-victoria {
      width: 300px;
      transform: translate(25px, 450px);
    }
  }
  
  .desc-projet4 {
    width: 490px;
    font-size: 2vw;
    font-family: Corbel;
    display: flex;
    transform: translate(1100px, 800px);
  }
  
  @media (max-width: 375px) {
    .desc-projet4 {
      width: 290px;
      font-size: 18px;
      transform: translate(30px, 455px);
    }
  }
  
  /*Footer*/
  .footer {
    width: 100%;
    background-color: #006A83;
    color: white;
    padding: 90px;
    display: flex;
    transform: translate(0px, 1050px);
    overflow: hidden;
  }
  
  @media (max-width: 375px) {
    .footer {
      height: 40px;
      transform: translate(-10px, 540px);
    }
  }
  
  .contacter-moi {
    font-size: 3vw;
    font-family: Verdana,sans-serif;
    display: flex;
    transform: translate(850px, -60px);
    white-space: nowrap;
  }
  
  @media (max-width: 375px) {
    .contacter-moi {
      font-size: 22px;
      transform: translate(10px, -60px);
    }
  }
  
  .couriel {
    font-size: 1.6vw;
    font-family: Verdana,sans-serif;
    display: flex;
    transform: translate(250px, 40px);
  }
  
  @media (max-width: 375px) {
    .couriel {
      font-size: 15px;
      transform: translate(-180px, 0px);
    }
  }
  
  .copyright {
    font-size: 1vw;
    font-family: Verdana,sans-serif;
    display: flex;
    transform: translate(-180px, 150px);
    white-space: nowrap;
  }
  
  @media (max-width: 375px) {
    .copyright {
      font-size: 15px;
      transform: translate(-375px, 50px);
    }
  }